<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>欢迎访问 国家电网公司招投标平台</title>
    <meta name="Keywords" content="电子商务平台, 招投标平台, 供应商, 物流, 合同, 物资部, 国家电网公司"/>
    <meta name="description" content="国家电网公司电子商务平台，国家电网公司招投标平台，国家电网公司物资部"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../../static/css/element_ui.css">
    <link rel="stylesheet" href="../../static/css/common.css">

</head>
<style>
    body {
        background: #F2F2F2;
    }

    .check-box {
        width: 500px;
        padding: 0 44px 0 10px;
    }

    .check-title {
        padding-left: 16px;
        margin: 10px 0 20px;
        color: #009988;
        position: relative
    }

    .check-title .el-button {
        margin-left: 16px;
    }

    .el-table {
        min-height: 10vh
    }

    .tree-box-left {
        width: 210px;
        height: 100vh;
        background: #fff;
        margin-right: 14px;
        flex-shrink: 0;
    }

    .table-box {
        width: 100%;
    }

    .is-current .el-tree-node__label {
        color: #009988
    }
</style>

<body>
<div id="wrapper">
    <div class="content-page flex">
        <div class="tree-box-left">
            <el-tree :data="data" ref="vuetree" :props="defaultProps" @node-click="handleNodeClick" node-key="id"
                     :highlight-current="true"
                     default-expand-all="true"></el-tree>
        </div>
        <div class="table-box">
            <div class="table-header-box clearfix">
                <el-form :inline="true" class="demo-form-inline">
                    <el-form-item>
                        <el-select v-model="search_obj.proposer" placeholder="澄清提出方">
                            <el-option label="全部" value=""></el-option>
                            <el-option label="代理机构" value="代理机构"></el-option>
                            <el-option label="供应商" value="供应商"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-select v-model="search_obj.type" clearable placeholder="澄清类型">
                            <el-option
                                    v-for="item in typeList"
                                    :label="item.detailName"
                                    :value="item.detailCode">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-input v-model="search_obj.titles" placeholder="澄清标题"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="search()">查询</el-button>
                        <el-button @click="clearSearch()">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="table-content">
                <div class="table-operation">
                    <el-button @click="toPresentClarify()" type="primary" size="mini">提出澄清</el-button>
                </div>
                <div class="el-table-box">
                    <el-table v-loading="loading" :data="tableData" style="width: 100%"
                              :header-cell-style="{background:'#EDFFFA'}" border @selection-change="chooseData"
                              :row-class-name="tableRowClassName">
                        <el-table-column type="selection" width="40">
                        </el-table-column>
                        <el-table-column type="index" width="40">
                        </el-table-column>
                        <el-table-column prop="scope" label="澄清范围" width="">
                            <template slot-scope="scope">
                                {{scope.row.scope | filterScope }}
                            </template>
                        </el-table-column>
                        </el-table-column>
                        <el-table-column prop="proposer" label="澄清提出方">
                        </el-table-column>
                        <el-table-column prop="type" label="澄清类型">
                            <template slot-scope="scope">
                                {{scope.row.type | filterType }}
                            </template>
                        </el-table-column>
                        <el-table-column prop="titles" label="澄清标题">
                        </el-table-column>
                        <el-table-column prop="status" label="澄清状态">
                            <template slot-scope="scope">
                                {{scope.row.status | filterStatus }}
                            </template>
                        </el-table-column>
                        <el-table-column prop="userName" label="发布人">
                        </el-table-column>
                        <el-table-column prop="issueTime" label="发布时间">
                        </el-table-column>
                        <el-table-column label="操作" width="180">
                            <template slot-scope="scope">
                                <template v-if="scope.row.status==2">
                                    <el-link type="primary" @click="toEdit(scope.row)">编辑</el-link>
                                </template>
                                <template v-if="scope.row.status==3">
                                    <el-link type="primary" @click="toManagementCheck(scope.row)">查看</el-link>
                                </template>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <el-pagination background @current-change="handleCurrentChange" @size-change="handleSizeChange"
                               layout="sizes,prev, pager, next, jumper,total" :total="total"
                               :page-sizes="[10, 20, 30, 40]" :page-size="pageSize">
                </el-pagination>
            </div>
        </div>
    </div>

</div>

</body>
<script src="../../static/vue.min.js" charset="utf-8"></script>
<script src="../../static/element_ui.js" charset="utf-8"></script>
<script src="../../static/layui/layui.js" charset="utf-8"></script>
<script src="../../static/js/xadmin.js" charset="utf-8"></script>
<script src="../../static/axios.min.js" charset="utf-8"></script>
<script src="../../static/js/common.js" charset="utf-8"></script>
<script>
    var vm = new Vue({
        filters: {
            filterType: function (val) {
                if (val == "1") {
                    return "商务"
                } else if (val == "2") {
                    return "技术"
                }
            },
            filterStatus: function (val) {
                if (val == "0") {
                    return "待提交"
                } else if (val == "1") {
                    return "待审核"
                } else if (val == "2") {
                    return "待发布"
                } else if (val == "3") {
                    return "已发布"
                }
            },
            filterScope: function (val) {
                if (val == "1") {
                    return "按项目"
                } else if (val == "2") {
                    return "按分标"
                } else if (val == "3") {
                    return "按分包"
                }
            },
        },
        data: {
            loading: false,
            pageSize: 10,
            pageNum: 1,
            total: 0,
            typeList: [],
            search_obj: {
                proposer: "",
                type: '',
                titles: ''
            },
            data: [],
            scope: '',
            minuteMarkId: "",
            subpackageId: "",
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            tableData: [],
            projectId: '',
            projectName: ''
        },
        mounted: function () {
            this.getTypeList();
            this.projectId = common.getUrlParam("projectId");
            this.projectName = common.getUrlParam("projectName");
            this.getTreeData();
        },
        methods: {
            //获取澄清类型下拉框
            getTypeList: function () {
                axios.get(common.url_fanjx + "/putForward/getDropDownBoxList?name=TYPE2").then(
                    function (res) {
                        if (res.data.code == "200") {
                            this.typeList = res.data.data;
                        } else {
                            this.$notify({
                                title: '请求失败',
                                message: res.errmsg,
                                type: 'error',
                                position: 'bottom-right'
                            });
                        }
                    }.bind(this)
                );
            },
            //查询左侧标包树状图,默认点亮第一个
            getTreeData: function () {
                var that = this;
                axios.get(common.url_fanjx + "/putForward/listMinuteMarkByProjectId/" + this.projectId).then(
                    function (res) {
                        console.log("res", res);
                        if (res.data.code == 200) {
                            if (res.data.data == undefined || res.data.data <= 0) {
                                this.$notify({
                                    title: '请求失败',
                                    message: "该项目没有分标包",
                                    type: 'error',
                                    position: 'bottom-right'
                                });
                                return;
                            }
                            var dataTree = [];
                            if (res.data.data != undefined && res.data.data.length > 0) {
                                for (var i = 0; i < res.data.data.length; i++) {
                                    res.data.data[i].minuteMarkTreeData.children = null;
                                    res.data.data[i].minuteMarkTreeData.id = res.data.data[i].minuteMarkTreeData.minuteMarkId;
                                    dataTree.push(res.data.data[i].minuteMarkTreeData);
                                }
                            }
                            this.data = [
                                {
                                    id: null,
                                    label: this.projectName,
                                    minuteMarkId: 0,
                                    projectId: this.projectId,
                                    children: [],
                                }
                            ];
                            this.data[0].children = dataTree;
                            this.$nextTick(function () {
                                that.$refs.vuetree.setCurrentKey(this.data[0].children[0].id); //设置默认树形控件第一个高亮
                            });
                            this.minuteMarkId = this.data[0].children[0].id;
                            this.subpackageId = null;
                            this.scope = 2;
                            //查询右侧列表数据
                            this.getData();
                        } else {
                            this.$notify({
                                title: '请求失败',
                                message: "服务器繁忙,请稍后重试!",
                                type: 'error',
                                position: 'bottom-right'
                            });
                        }
                    }.bind(this)
                );
            },
            //渲染列表
            getData: function () {
                var that = this;
                axios.post(common.url_fanjx + "/putForward/pageListAgencyClarify", {
                    page: this.pageNum,
                    pageSize: this.pageSize,
                    projectId: this.projectId,
                    minuteMarkId: this.minuteMarkId,
                    subpackageId: this.subpackageId,
                    proposer: this.search_obj.proposer,
                    type: this.search_obj.type,
                    titles: this.search_obj.titles,
                    scope: this.scope
                }).then(
                    function (res) {
                        console.log("res", res);
                        if (res.data.code == 200) {
                            that.tableData = res.data.data.list;
                            that.total = res.data.data.total;
                            that.loading = false;
                        } else {
                            this.$notify({
                                title: '请求失败',
                                message: "服务器繁忙,请稍后重试!",
                                type: 'error',
                                position: 'bottom-right'
                            });
                            that.loading = false;
                        }
                    }.bind(this))

            },
            //查看详情
            toManagementCheck: function (row) {
                parent.xadmin.add_tab('查看澄清', '../pinggao_svsp/pages/supplier_service_platform/platform_clarify_management_check.html?id=' + row.id);
            },
            //编辑
            toEdit: function (row) {
                parent.xadmin.add_tab('提出澄清', '../pinggao_svsp/pages/supplier_service_platform/platform_present_clarify.html?projectId=' + this.projectId + '&projectName=' + this.projectName+'&id='+row.id);
            },
            //提出澄清
            toPresentClarify: function () {
                parent.xadmin.add_tab('提出澄清', '../pinggao_svsp/pages/supplier_service_platform/platform_present_clarify.html?projectId=' + this.projectId + '&projectName=' + this.projectName);
            },
            //条件查询
            search: function () {
                this.pageNum = 1;
                this.$emit('on-search-change', this.getData());
            },
            //列表分页码数
            handleCurrentChange: function (val) {
                this.pageNum = val;
                this.getData();
            },
            //列表分页条数
            handleSizeChange: function (val) {
                this.pageSize = val;
                this.pageNum = 1;
                this.getData();
            },
            //清空搜索条件
            clearSearch: function () {
                this.search_obj = {
                    proposer: "",
                    type: '',
                    titles: ''
                };
            },
            tableRowClassName: function (scope, index) {
                scope.row.index = scope.rowIndex
            },
            //复选框选中
            chooseData: function (val) {
                val.forEach(function (val, index) {
                    vm.tableData.forEach(function (v, i) {
                        if (val.index == v.index) {
                            v.dataDel = true
                        }
                    })
                })
            },
            //点击左侧菜单
            handleNodeClick: function (data) {
                if (data == null) {
                    return;
                }
                this.pageSize = 10;
                this.pageNum = 1;
                this.minuteMarkId = null;//包id
                this.scope = null;
                if (data.children == undefined && data.id != undefined) {//点击包节点,按包查
                    this.minuteMarkId = data.minuteMarkId;//标id
                    this.scope = 2;
                }
                this.getData();
            }
            // deleteDataAll: function (tableData) {
            //     for (var i = 0; i < tableData.length; i++) {
            //         if (tableData[i].dataDel) {
            //             tableData.splice(i, 1)
            //             i -= 1;
            //         }
            //     }
            // }


        },
    }).$mount('#wrapper')
</script>

</html>